@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: white;
  --text-color: black;
  --icon-color: black;
}

[data-theme="dark"] {
  --bg-color: black;
  --text-color: white;
  --icon-color: white;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.icon {
  color: var(--icon-color);
}
