@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #fffbff;
  --text-color: black;
  --icon-color: black;
}

[data-theme="dark"] {
  --bg-color: black;
  --text-color: white;
  --icon-color: white;
}

body {
  @apply bg-[var(--bg-color)] text-[var(--text-color)];
}

/* メインコンテンツの設定 */
.main-content {
  flex: 1; /* 残りの空間を占有 */
  display: flex;
  flex-direction: column;
  justify-content: center; /* コンテンツを中央揃え */
  align-items: center;
}

.icon {
  @apply text-[var(--icon-color)];
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

.fade-in {
  opacity: 0;
  visibility: visible;
  animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
